body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: -90px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 200px;
    background-color: aliceblue;
    padding: 6px;
}

.container .display {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid grey;
    display: block;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
    font-size: 25px;
}

.row-1,.row-2,.row-3,.row-4 {
    display: flex;
    margin-top: 3px;
    width: 190px;
}

.numbers, .operator, .clear, .ans, .dot, .back {
    height: 35px;
    width: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    background-color: rgba(9, 136, 156, 0.947);
    color: white;
    /* border: 1px solid black; */
    margin: 2px;
    padding: 4px;
    flex: 1;
    /* margin-left: 4px; */
}

.back {
    width: 150px;
    padding-left: 8px;
    padding-right: 8px;
}


