body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: -90px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(9, 123, 123);
    margin-bottom: 7px;
}

hr {
    background-color: rgb(9, 123, 123);
    width: 190px;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: aliceblue;
    padding: 6px;
}

.container .display {
    margin-bottom: 4px;
    display: block;
    text-align: right;
    /* padding: 15px; */
    box-sizing: border-box;
}

.display {
    background-color: rgba(1, 64, 75, 0.885);
    height: 60px;
    width: 186px;
    color:rgb(247, 249, 250);
    font-size: 32px;
    padding-top: 18px;
    padding-right: 4px;
}

.row-1,.row-2,.row-3,.row-4 {
    display: flex;
    margin-top: 2px;
    width: 190px;
}

.numbers, .operator, .clear, .ans, .dot, .back {
    height: 35px;
    width: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    background-color: rgba(9, 136, 156, 0.947);
    color: white;
    margin: 2px;
    padding: 4px;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back {
    width: 150px;
    padding-left: 8px;
    padding-right: 8px;
}